<div class="partners-block">
    <!--ul class="partners-tabs">                    
    <li>Партнеры</li>
    <li>Информационные партнеры</li>
</ul--><div class="p-block">
<div class="p2876">
<h2>General partner</h2>
<div class="p-img"><a href="http://www.gazprombank.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/Gazprombank_Logo_200_eng.png" alt="" /></a></div>
</div><div class="p2877">
<h2>Financical partner</h2>
<div class="p-img"><a href="http://www.open.ru/"><img src="http://www.gaidarforum.ru/files/Bank-Otkrytie-ENG-mini.png" alt="" /></a></div>
</div>
</div><div class="gen-info-p-block">
<div class="p2883">
<h2>General media partners</h2>
<div class="p-img"><a href="http://www.vesti.ru/"><img src="http://www.gaidarforum.ru/images/content/russia24_en1.png" alt="" /></a></div>
</div><div class="p2885">
<h2>Strategic media partners</h2>
<div class="p-img"><a href="http://itar-tass.com/"><img src="http://www.gaidarforum.ru/files/Tass_logo-ENG1.png" alt="" /></a></div><div class="p-img"><a href="http://www.1prime.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/prime_logo_ru.png" alt="" /></a></div>
</div><div class="p2886">
<h2>Main media partners</h2>
<div class="p-img"><a href="http://www.gazeta.ru/"><img src="http://www.gaidarforum.ru/files/GazetaruENGmini.png" alt="" /></a></div>
</div>
</div><div class="info-p-block">
<div class="p2888">
<h2>Media partners</h2>
<div class="p-img"><a href="http://www.akm.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/akm_logo_en.png" alt="" /></a></div><div class="p-img"><a href="http://businessofrussia.com/"><img src="http://www.gaidarforum.ru/files/BusinessRussiaENG.png" alt="" /></a></div><div class="p-img">
<a href="http://www.bricsmagazine.com/ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/brics_logo_en.png" alt="" /></a></div><div class="p-img"><a href="http://strategyjournal.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/strategy_logo_en.png" alt="" /></a></div>
</div>
</div></div>