<menu class="main-menu">
    <li><a href="http://gaidarforum.ru/en/2015/about/index.php"> About</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/news">News</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/program/day-one">Program</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/organizers/index.php">Organizers</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/committee">Organizing Committee</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/experts">Forum Experts</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/partners">Partners</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/press/index.php">Press Centre</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/accreditation/index.php">Media accreditation</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/monitoring/index.php">Monitoring</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/rules/index.php">Rules of participation</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/media/photo-day-one.php">Media</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/venue/index.php">Venue</a></li>
    <li><a href="http://gaidarforum.ru/en/2015/contacts/index.php">Contacts</a></li>
</menu>
<!--a href="/eng/registration/" class="registration-button-en">Registration</a-->