<menu class="main-menu">
    <li><a href="http://gaidarforum.ru/about/conception/">О форуме</a></li>
    <li><a href="http://gaidarforum.ru/news">Новости</a></li>
    <li><a href="http://gaidarforum.ru/program/day-one">Программа</a></li>
    <li><a href="http://gaidarforum.ru/organizers">Организаторы</a></li>
    <li><a href="http://gaidarforum.ru/committee">Организационный комитет</a></li>
    <li><a href="http://gaidarforum.ru/experts">Эксперты форума</a></li>
    <li><a href="http://gaidarforum.ru/partners">Партнеры</a></li>
    <li><a href="http://gaidarforum.ru/press/index.php">Пресс-центр</a></li>
    <li><a href="http://gaidarforum.ru/smi/index.php">СМИ о Форуме</a></li>
    <li><a href="http://gaidarforum.ru/rules/index.php">Правила участия</a></li>
    <li><a href="http://gaidarforum.ru/accommodation/index.php">Информация по размещению</a></li>
    <li><a href="http://gaidarforum.ru/venue">Место проведения</a></li>
    <li><a href="http://gaidarforum.ru/contacts">Контакты</a></li>
</menu>
<!--a href="registration/index.php" class="registration-button">Регистрация</a-->