<div class="partners-block">

    <!--ul class="partners-tabs">                    
    <li>Партнеры</li>
    <li>Информационные партнеры</li>
</ul--><div class="p-block">
<div class="p2858">
<h2>Генеральный партнер</h2>
<div class="p-img"><a href="http://www.gazprombank.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/Gazprombank_Logo_200_ru.png" alt="" /></a></div>
</div><div class="p2859">
<h2>Финансовый партнер</h2>
<div class="p-img"><a href="http://www.open.ru/"><img src="http://www.gaidarforum.ru/files/Bank-Otkrytie-RUS-mini.png" alt="" /></a></div>
</div>
</div><div class="gen-info-p-block">
<div class="p2865">
<h2>Генеральные информационные партнеры</h2>
<div class="p-img"><a href="http://www.vesti.ru/"><img src="http://www.gaidarforum.ru/images/russia24_ru.png" alt="" /></a></div>
</div><div class="p2867">
<h2>Стратегические информационные партнеры</h2>
<div class="p-img"><a href="http://itar-tass.com/"><img src="http://www.gaidarforum.ru/files/tass_logo_rus.png" alt="" /></a></div><div class="p-img"><a href="http://www.1prime.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/prime_logo_ru.png" alt="" /></a></div>
</div><div class="p2868">
<h2>Главные информационные партнеры</h2>
<div class="p-img"><a href="http://www.gazeta.ru/"><img src="http://www.gaidarforum.ru/files/GazetaruRUSmini.png" alt="" /></a></div>
</div>
</div><div class="info-p-block">
<div class="p2870">
<h2>Информационные партнеры</h2>
<div class="p-img"><a href="http://www.akm.ru/"><img src="http://www.gaidarforum.ru/files/AK_M-.png" alt="" /></a></div><div class="p-img"><a href="http://businessofrussia.com/"><img src="http://www.gaidarforum.ru/images/2016/partners/br_logo_ru.png" alt="" /></a></div><div class="p-img"><a href="http://strategyjournal.ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/strategy_logo_ru.png" alt="" /></a></div><div class="p-img"><a href="http://www.bricsmagazine.com/ru/"><img src="http://www.gaidarforum.ru/images/2016/partners/brics_logo_ru.png" alt="" /></a></div>
</div>
</div></div>