<h1>Регистрация волонтеров на Гайдаровский форум 2016</h1>
<p>В связи с необходимостью согласования списков с ФСО, организаторы обращаются с убедительной просьбой зарегистрироваться на Форум.</p>
<p><b>* Все поля обязательны для заполнения.</b></p>


<form action='/users/signup/volonteer' method='post' enctype='multipart/form-data'>
    
    <span class="label-form">Личные данные</span>

    <div class="row left">
        <label class="input-label">Фамилия</label>
        <input type='text' name='user_f_103' value='' placeholder="Фамилия*" id="surname" tabindex="1" />
    </div>

    <div class="row left">
        <label class="input-label">Транслитерация фамилии</label>
        <input type='text' name='user_f_158' value='' id="latin-surname" placeholder="Транслитерация фамилии*" />
    </div>

    <div class="row left">
        <label class="input-label">Имя</label>
        <input type='text' name='user_f_104' value='' id="name" placeholder="Имя*"  tabindex="2" />
    </div>

    <div class="row left">
        <label class="input-label">Транслитерация имени</label>
        <input type='text' name='user_f_159' value='' id="latin-name" placeholder="Транслитерация имени*" />
    </div>

    <div class="row left clearfix">
        <label class="input-label">Отчество</label>
        <input type='text'  id="patronymic" name='user_f_105' value='' placeholder="Отчество*" tabindex="3"  />
    </div>

    <div class="margin"></div>

    <div class="row left select-box">
        <label class="select-label">Страна</label>
        <select name='user_f_106'>
            <option>Россия</option>
        </select>
    </div>

    <div class="row left select-box">
        <label class="select-label">Гражданство</label>
        <select name='user_f_172'>
            <option>Россия</option>
        </select>
    </div>

    <div class="margin"></div>

    <div class="row left select-box city">
        <label class="select-label">Город</label>
        <select name='user_f_108'>
            <option></option>
            <?php foreach($city as $value) { echo '<option>'. $value .'</option>'; } ?>
        </select>
    </div>
    
    <div class="nocity">Не нашли город? <a href="#" id="man">Воспользуйтесь ручной формой ввода.</a></div>
    
    <div id="man-block">
        <div class="row left">
            <label class="input-label">Доп. поле город</label>
            <input type='text' id='adcity' name='user_f_180' value='' />
        </div>
    </div>

    <span class="label-form">Паспортные данные</span>

    <div class="row left">
        <label class="input-label">Серия паспорта</label>
        <input type='text' name='user_f_173' value=''  id="passportS"  placeholder="Серия паспорта*" tabindex="8"  />
    </div> 

    <div class="row left">
        <label class="input-label">Номер паспорта</label>
        <input type='text' name='user_f_109' value='' id="passportN" placeholder="Номер паспорта*" tabindex="9"  />
    </div>

    <div class="row left checkbox">
        <label>Пол* </label>
        <input type='radio' name='user_f_177' value='Мужской' tabindex="13" checked />Мужской
        <input type='radio' name='user_f_177' value='Женский' tabindex="13"  />Женский
    </div>

    <div class="row left">
        <label class="input-label">Дата рождения</label>
        <input type='text' name='user_f_113' value=''  id="date-b"  placeholder="Дата рождения*"  tabindex="14"  />
    </div>

    <div class="row left">
        <label class="input-label">Место рождения</label>
        <input type='text' id="pbirth" name='user_f_121' value='' placeholder="Место рождения*"  tabindex="15"/>
    </div>
    
    <span class="label-form">Дополнительная информация</span>

    <div class="row left">
        <label class="input-label">Организация</label>
        <input type='text' name='user_f_114' value='' id="organization" placeholder="Организация*" tabindex="16" />
    </div>

    <div class="row left">
        <label class="input-label">Организация на английском</label>
        <input type='text' name='user_f_161' value='' id="latin-organization" placeholder="Организация (на английском)*"  />
    </div>

    <div class="row left">
        <label class="input-label">Должность</label>
        <input type='text' name='user_f_115' value='' id="position" placeholder="Должность*" tabindex="17" />
    </div>

    <div class="row left">
        <label class="input-label">Должность на английском</label>
        <input type='text' name='user_f_162' value='' id="latin-position"  placeholder="Должность (на английском)*"  />
    </div>
    
    <div class="row left file">
        <label>Фото*</label><input type='file' name='user_f_116' value=''  tabindex="18" />
        <div style="float: right" class="text-photo">
            <p>Фотография должна быть предоставлена:<br />
                <ul>
                    <li>В цвете</li>
                    <li>Размером 30 на 40 мм</li>
                    <li>С четким изображением лица строго в анфас без головного убора</li>
                    <li>Размер изображения овала лица на фотографии должен занимать не менее<br /> 80 процентов от размера фотографии</li>
                    <li>Задний фон светлее изображения лица, ровный, без полос, пятен и  посторонних предметов</li>
                </ul>
            </p>

        </div>
    </div>
    
    <span class="label-form">Контактная информация</span>

    <div class="row left">
        <label class="input-label">Контактное лицо</label>
        <input id="contact" type='text' class="wide" name='user_f_117' value='' placeholder="Контактное лицо*" tabindex="22" />
    </div>
    
    <div class="row left">
        <label class="input-label">E-mail адрес</label>
        <input  id="email" type='text' name='su_email_reg' value='' placeholder="E-mail*" tabindex="23" />
    </div>
    
    <div class="row left">
        <label class="input-label">Телефон</label>
        <input id="mob" type='text' name='su_pers_mob_phone' id="homephone" placeholder="Пример: +7 (Код города) 169 0000*" value='' />
    </div>

    <div class="row wide left">
        <label class="input-label">Доп. моб. телефон</label>
        <input type='text' name='user_f_118' value='' id="phone" placeholder="Моб. телефон"  />
    </div>
    
    <div class="margin"></div>

    <div class="acceptblock" style="display: none"></div>

    <div class="row clearfix accept">
        <input id="accept" onchange="sub.disabled=!this.checked;" type="checkbox" name="consentreg" value="">
        <label>Я подтверждаю согласие на обработку моих персональных данных.</label>
    </div>
    
    <div class="row submit">
        <input name="sub" id="sub" disabled="true" type='submit' value='Зарегистрироваться' tabindex="25" />
    </div>
    
</form>
