<h1>Participant registration for the Gaidar Forum 2016</h1>
<p>Registration to the Forum is mandatory in accordance with the requirements of the Federal Guard Service and the Forum regulations for accreditation.</p>
<p>Applications for participation are reviewed by the Organizing Committee; an invitation will be sent via email to an applicant whose application is approved. </p>
<p><b><span class="sub">*</span> Indicates required fields</b></p>


<form action='/users/signup/member/en' method='post' enctype='multipart/form-data'>

    <span class="label-form">Personal data / Персональные данные</span>

    <div class="row left">
        <label class="input-label">First name / Имя*</label>
        <input type='text' name='user_f_104' value='' id="name" placeholder="First name*"  tabindex="2" />
    </div>

    <div class="row left">
        <label class="input-label">Middle name / Отчество*</label>
        <input type='text'  id="patronymic" name='user_f_105' value='' placeholder="Middle name*" tabindex="3"  />
    </div>

    <div class="row left">
        <label class="input-label">Surname / Фамилия*</label>
        <input type='text' name='user_f_103' value='' placeholder="Surname*" id="surname" tabindex="1" />
    </div>

    <div class="margin"></div>

    <div class="row left select-box country">
        <label class="select-label">Country/ Страна* </label>
        <input type='text' name='user_f_106' id="user_f_106" placeholder="Country" value='' />
    </div>

    <div class="row left select-box nationality">
        <label class="select-label">Nationality / Гражданство*</label>
        <input type='text' name='user_f_172' id="user_f_172" placeholder="Nationality" value='' />
    </div>

    <div class="margin"></div>

    <div class="row left select-box city">
        <label class="select-label">City / Город*</label>
        <input type='text' name='user_f_108' id="user_f_108" placeholder="City" value='' />
    </div>

    <span class="label-form">Passport data / Паспортные данные</span>

    <div class="row left">
        <label class="input-label">Passport number / Номер паспорта*</label>
        <input type='text' name='user_f_109' value='' id="passportN" placeholder="Passport number*" tabindex="9"  />
    </div>

    <div class="row left checkbox">
        <label>Sex / Пол* </label>
        <input type='radio' name='user_f_177' value='Мужской' tabindex="13" checked />Male
        <input type='radio' name='user_f_177' value='Женский' tabindex="13"  />Female
    </div>

    <div class="row left">
        <label class="input-label">Date of birth / Дата рождения*</label>
        <input type='text' name='user_f_113' value=''  id="date-b"  placeholder="Date of birth*"  tabindex="14"  />
    </div>

    <div class="row left">
        <label class="input-label">Place of birth / Место рождения*</label>
        <input type='text' id="pbirth" name='user_f_121' value='' placeholder="Place of birth*"  tabindex="15"/>
    </div>

    <span class="label-form">Additional information / Дополнительная информация</span>

    <div class="row left">
        <label class="input-label">Organization / Организация*</label>
        <input type='text' name='user_f_114' value='' id="organization" placeholder="Organization*" tabindex="16"   />
    </div>

    <div class="row left">
        <label class="input-label">Position / Должность*</label>
        <input type='text' name='user_f_115' value='' id="position" placeholder="Position*" tabindex="17"  />
    </div>

    <div class="row left file">
        <label>Photo / Фото*</label>
        <input type='file' name='user_f_116' value=''  tabindex="18" />
        <div style="float: right" class="text-photo">
            <p>Photo requirements:<br />
            <ul>
                <li>The photo must be in color, 30 mm wide and 40 mm high.</li>
                <li>The photo must show a clear view of the face from the front with no hats or head coverings.</li>
            </ul>
            </p>
        </div>
    </div>

    <span class="label-form">Contact information / Контактная информация</span>

    <div class="row left">
        <label class="input-label">Contact person / Контактное лицо</label>
        <input type='text' class="wide" name='user_f_117' value='' placeholder="Contact person*" tabindex="22" id="contact" />
    </div>

    <div class="row left">
        <label class="input-label">E-mail / E-mail адрес</label>
        <input  id="email" type='text' name='su_email_reg' value='' placeholder="E-mail*" tabindex="23" />
    </div>

    <div class="row left">
        <label class="input-label">Tel. No. / Телефон</label>
        <input id="mob" type='text' name='su_pers_mob_phone' placeholder="For example: country code - city code - number*" value='' />
    </div>

    <div class="row left">
        <label class="input-label">Alternative contact number / Доп. моб. телефон</label>
        <input type='text' name='user_f_118' value='' id="phone" placeholder="Alternative contact number" tabindex="24" />
    </div>

    <div class="margin"></div>

    <input type="hidden" name="user_stiker" value="4">
    <input type="hidden" name="su_mail_lang" value="en">

    <div class="acceptblock" style="display: none"></div>

    <div class="row clearfix accept">
        <input  onchange="sub.disabled=!this.checked;" type="checkbox" name="consentreg" value="">
        <label>I hereby give my consent for processing of my personal data. / Я подтверждаю согласие на обработку моих персональных данных.</label>
    </div>

    <div class="row submit">
        <input name="sub" disabled="true" type='submit' value='Sign up / Зарегистрироваться' tabindex="25" />
    </div>

</form>