// @font-face {
//     font-family: "OfficinaSerifCTTRegular";
//     font-style: normal;
//     font-weight: normal;
//     src: local("☺"), url("http://medialib.temafon.ru/privetnew/fonts/officinaserifctt.woff") format("woff"), url("http://medialib.temafon.ru/privetnew/fonts/officinaserifctt.ttf") format("truetype"), url("http://medialib.temafon.ru/privetnew/fonts/officinaserifctt.svg") format("svg");
// }
