@charset "UTF-8";
@mixin border-radius($r:20px){
  -webkit-border-radius: $r;
     -moz-border-radius: $r;
      -ms-border-radius: $r;
       -o-border-radius: $r;
          border-radius: $r;
}
@mixin transition($r){
  -webkit-transition: $r;
   -moz-transition: $r;
   -o-transition: $r;
   transition: $r;
}
@mixin transform($r){
   -moz-transform: $r; /* Для Firefox */
    -ms-transform: $r; /* Для IE */
    -webkit-transform: $r; /* Для Safari, Chrome, iOS */
    -o-transform: $r; /* Для Opera */
    transform: $r;
}
@mixin no-select() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}
@keyframes mymove {
      0% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
      25% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #F9C300;
      }
      50% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #474747;
      }
      75% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #474747;
      }
      100% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
    }

    @-moz-keyframes mymove  {
      0% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
      25% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #F9C300;
      }
      50% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #474747;
      }
      75% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #474747;
      }
      100% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
    }

    @-webkit-keyframes mymove {
      0% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
      25% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #F9C300;
      }
      50% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #474747;
      }
      75% {
        width:0px;
        height:0px;
        left: 50%;
        top: 50%;
        background: #474747;
      }
      100% {
        width:100%;
        height:100%;
        left: 0px;
        top: 0px;
        background: #F9C300;
      }
    }

    @keyframes mymove2 {
      0% {
        width:30px;
        height:30px;
        top: 0;
        background: #f2f2f2;
      }
      25% {
        width:0px;
        height:0px;
        top: 15px;
        background: #F9C300;
      }
      50% {
        width:30px;
        height:30px;
        top: 0;
        background: #474747;
      }
      75% {
        width:0px;
        height:0px;
        top: 15px;
        background: #474747;
      }
      100% {
        width:30px;
        height:100%;
        top: 0;
        background: #F9C300;
      }
    }

    @-moz-keyframes mymove2 {
     0% {
       width:30px;
       height:30px;
       top: 0;
       background: #f2f2f2;
     }
     25% {
       width:0px;
       height:0px;
       top: 15px;
       background: #F9C300;
     }
     50% {
       width:30px;
       height:30px;
       top: 0;
       background: #474747;
     }
     75% {
       width:0px;
       height:0px;
       top: 15px;
       background: #474747;
     }
     100% {
       width:30px;
       height:100%;
       top: 0;
       background: #F9C300;
     }
    }

    @-webkit-keyframes mymove2 {
      0% {
        width:30px;
        height:30px;
        top: 0;
        background: #f2f2f2;
      }
      25% {
        width:0px;
        height:0px;
        top: 15px;
        background: #F9C300;
      }
      50% {
        width:30px;
        height:30px;
        top: 0;
        background: #474747;
      }
      75% {
        width:0px;
        height:0px;
        top: 15px;
        background: #474747;
      }
      100% {
        width:30px;
        height:100%;
        top: 0;
        background: #F9C300;
      }
    }

    @mixin button($width:120px,$height:24px,$border:3px,$fs:11px,$bg:#000) {
        border: $border solid;
        border-radius: 20px;
        cursor: pointer;
        display: inline-block;
        font-size: $fs;
        font-weight: bold;
        height: $height;
        line-height: 24px;
        margin: 0 10px 0 0;
        text-align: center;
        text-transform: uppercase;
        width: $width;
        border-color: $bg;
        background: none;
        padding: 0;

        &:hover {
          background: $bg;
        }
    }
