/*reset-css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*!--*/



/*fonts*/


/*cropper*/
@font-face {
  font-family: cropperThin;
  src:url(fonts/cooper-hewitt/CooperHewitt-Thin.otf);
}

@font-face {
  font-family: cropperLight;
  src:url(fonts/cooper-hewitt/CooperHewitt-Light.otf);
}

/*Lato*/

@font-face {
    font-family: 'LatoHairline';
    src: url('/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('Lato-Hairline.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

/*Roboto-slab*/

@font-face {
  font-family: RobotoSlabThin;
  src:url(fonts/roboto/RobotoSlab-Thin.ttf);
}




/*!--*/




/*default styles*/

body {
  font-family: RobotoSlabThin;
  color: #fff;
  background: #e74c3c;
  font-weight: 300;
  min-width:1380px;
}

.clear {
  clear:both;
}

.right {
  float:right;
}

.left {
  float:left;
}

.person_settings {
  background: url(../images/entities/settings2.png) no-repeat center center;
  background-size: cover;
  width: 50px;
  opacity: 0.1;
  transition:all 0.3s ease;
  position: relative;
  border-right: none;

}

.settings_menu_wrapper {
  position: relative;
  padding: 0 !important;
  border-bottom: 0 !important;
} 

.settings_menu {
  position: absolute;
  top: 33px;
  left: -18px;
  opacity: 1 !important;
  background: rgba(255,255,255,0.4);
  padding: 10px;
  border-radius: 5px;

}

.settings_menu li {
  list-style: none;
   margin: 10px 0;
}


.settings_menu li a{
  color:#282828;
  text-decoration: none;
  border-bottom: 1px dashed #282828;


}

.settings_menu li a:hover {
  color:#fff;
  border-bottom: 1px dashed #fff;
}



  /*loader*/
  .absolute-wrapper {
    position: absolute;
    background: #e74c3c;
    top: 68px;
    min-height: 0 !important;
    left: 0;
    height: 100%;
  }


  .groups-loading-wrapper,
  .loading-wrapper {
    width: 100%;
    min-height: 300px;
  }

  .loading {
    width: 40px;
    margin: 0 auto;
    padding-top: 8em;
  }

  .loading img {
    width:100%;
  }

  /*!-- */

  /*delete form*/
    .delete_admin_user {
      width: 100%;
      text-align: center;
      cursor: pointer;
      font-size: 25px;
      transition:all 0.2s ease;
    }

    .delete_admin_user:hover {
      background:rgba(0,0,0,0.1);
    }


  /*!-- */



/*!--*/



/*admin-menu*/
header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 50px;
  background: rgba(0,0,0,0.1);
  height: 200px;
  line-height: 200px;
}


.menu_content {
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -250px;
}

.menu_content label {
	line-height: 50px;
}

.user_register_form_input,
.user_update_form_submit,
.user_register_form_submit {
  margin: 10px auto;
  font-size: 19px;
  width: 85%;
}
.user_update_form_submit,
.user_register_form_submit {
	border: 0;
  width: 260px;
  background: rgba(0,0,0,0.05);
  color: #fff;
  border-radius: 5px;
  height: 30px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-left: 130px;
}

.user_update_form_submit,
.user_register_form_submit:hover {
  background:rgba(0,0,0,0.4);
}


.user_update_form_submit input,
.user_register_form_submit input {
  background: 0;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff !important;
  outline:0;
  height: 31px;
  width: 100px;
}

.menu_content_title {
  text-align: center;
  font: 20px helvetica;
}

.menu_content input,.menu_content select {
	color:#282828;
}

 input[type='text'],
 input[type='password'] {
  outline: 0;
  border: 0;
  background: 0;
  border-bottom: 1px solid #282828;
  font-size: 20px;
  font-family: inherit;
  width: 445px;
  color:#fff;
}

select {
  width: 445px;
  border: none;
  background: 0;
  border: 1px solid #282828;
  margin: 20px 0px;
  height: 33px;
  outline: 0;
  color:#fff;
  font-size: 20px;
}

select option{
  background-color: #e74c3c;
  border: 0;
  outline: 0;

}


.menu_content select {
 text-transform: none;
  font-size: 18px;
  width: 239px;
  height: 28px;
  border: 0;
  background: 0;
  border-bottom: 1px solid #fff;
  outline: 0;
}

.main_content {
  width:70%;
}
/*!--*/





/*table */
.users {
  width: 60%;
  /*border-right: 1px solid rgba(0,0,0,0.4);*/
  /*min-height: 300px;*/
}

.title {
  background: rgba(0,0,0,0.04);
  /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

 .title>h3 {
  text-align: center;
  padding: 20px 0;
  font-size: 31px;
}

 table {
  margin: 0 auto;
  width: 100%;
}
 table thead td {
  padding: 23px;
  font-size: 20px;
  border-right: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-weight: bold;
  text-align: center;
  transition:all 0.2s ease;

}

/*убираем правый бордер у последнего элемента,так в его роли выступает перегородка межу таблицами*/
 table thead td:last-child,
 table tbody td:last-child {
  border-right:none;
}


 table tbody {
  width:100%;
}

 table tbody tr {
  cursor:pointer;
  transition:all 0.2s ease;
}

 table tbody tr:hover{
  background:rgba(0,0,0,0.09);
  opacity: 1;
}

.users table tbody tr:hover .person_settings {
  opacity:1 !important;
}


 table tbody td {
  text-align: center;
  padding: 2px;
  border-bottom: 1px solid rgba(0,0,0,0.09);
  border-right: 1px solid rgba(0,0,0,0.09);
  font-size: 16px;
  height: 40px;
  line-height: 21px;
  color:#282828;
  font-weight: bold;

}

/*users_groups */
.users_groups {
  width: 39.8%;
  border-left: 2px solid rgba(0,0,0,0.2);
}
/*!--*/


/*users*/
.button {
  border: none;
  padding: 0.6em 1.2em;
  background: #d53f30;
  color: #fff;
  font-family: RobotoSlabThin, Arial, sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 7px 6px;
  border-radius: 2px;
  position: absolute;
  outline: 0;
}

.button:hover {
  background: #A5281B;
}

.button img {
  width: 35px;
}
/*!--*/