/*stiker colors*/
.user_stiker-1 {color:#757FC7 ;}
.user_stiker-2 {color:#75A1C7  ;}
.user_stiker-3 {color:#75BAC7  ;}
.user_stiker-4 {color:#75C7A7  ;}
.user_stiker-5 {color:#75C779  ;}
.user_stiker-6 {color:#B1C775  ;}
.user_stiker-7 {color:#C7B175  ;}
.user_stiker-8 {color:#C78F75  ;}
.user_stiker-9 {color:#C77575  ;}
.user_stiker-10 {color:#C7759F ;}
.user_stiker-11 {color:#AF75C7 ;}
.user_stiker-12 {color:#EB37A2 ;}
.user_stiker-13 {color:#78683A ;}
