
.content-block ul ul {
    list-style-type: none;
}
.bio p {
    margin: 0 0 10px;
}
.photo img {
    float: left;
    margin: 0 10px 0 0;
}
.org_block {
    clear: both;
    margin-bottom: 15px;
    overflow: hidden;
}
.position-org {
    margin-left: 80px;
    width: 300px;
}
a {
    color: #999;
	text-decoration: none;
}
a:hover {
    color: #AE1D2C;
}
.active-content-link {
    color: #AE1D2C;
}
b, strong {
    font-weight: bold;
}
.main-menu, .year, .years-select, .count-block, .signup-button, .archive-block, .rss-block, .countdown_section, .back_button, .text-wrapper, .time {
    font-family: 'Jura',sans-serif;
}
.content-block ul {
    list-style-type: disc;
    margin: 5px 10px;
    overflow: hidden;
}
.content-block ul li {
    margin: 7px 20px;
}
.wrapper {
    height: 100%;
    width: 980px;
}
.header-wrapper {
  background: url("../../images/header-background.jpg") no-repeat scroll center center #FAFAFA;
  border-bottom: 1px solid #DDDDDD;
  width: 100%;
}

.content-wrapper {
    margin: 0;
    width: 980px;
}
.footer-wrapper {
    background-color: #951A1D;
    display: none;
}
.partners-wrapper {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    display: none;
    overflow: hidden;
}
.partners li {
    float: left;
    margin: 5px 16px;
}
.top-navbar-wrapper {
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
    height: 34px;
    width: 100%;
}
.slidesjs-container {
    height: 230px !important;
    margin-top: 41px;
    overflow: hidden !important;
}
.slidesjs-next {
    background: url("../images/icons-slider-sprite.png") no-repeat scroll -13px -3px rgba(0, 0, 0, 0);
    display: none;
    float: left;
    height: 12px;
    left: 74px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    white-space: nowrap;
    width: 12px;
}
.slidesjs-previous {
    background: url("../images/icons-slider-sprite.png") no-repeat scroll 0 -3px rgba(0, 0, 0, 0);
    display: none;
    float: left;
    height: 12px;
    margin-left: 280px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 12px;
}
.slidesjs-pagination {
    position: relative;
    top: -271px;
}
.slidesjs-pagination-item a {
    background: url("../images/bg_menu2.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 41px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 162px;
}
.slidesjs-pagination-item {
    float: left;
}
.left-wrapper {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    float: right;
    margin-bottom: 10px;
    width: 647px;
}
.day-link a:last-child img {
    margin: 0;
}
.day-link {
    color: #444444;
    line-height: 1.3;
    padding: 0 12px;
    position: relative;
    top: -30px;
}
.day-link > p {
    margin: 10px 0;
}
.day-link img {
    border: 0.1em solid #E5E5E5;
    margin-right: 4px;
}
.slidesjs-pagination-item a[data-slidesjs-item*="0"] {
    background-position: 0 0;
}
.slidesjs-pagination-item a.active[data-slidesjs-item*="0"] {
    background-position: 0 -51px;
}
.slidesjs-pagination-item a[data-slidesjs-item*="1"] {
    background-position: -162px 0;
}
.slidesjs-pagination-item a.active[data-slidesjs-item*="1"] {
    background-position: -162px -51px;
}
.slidesjs-pagination-item a[data-slidesjs-item*="2"] {
    background-position: -324px 0;
}
.slidesjs-pagination-item a.active[data-slidesjs-item*="2"] {
    background-position: -324px -51px;
}
.slidesjs-pagination-item a[data-slidesjs-item*="3"] {
    background-position: -486px 0;
}
.slidesjs-pagination-item a.active[data-slidesjs-item*="3"] {
    background-position: -486px -51px;
}

header {
    height: 143px;
    margin: 0;
    width: 980px;
}
.logo {
  background: url("../../images/logo2015.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  float: left;
  height: 120px;
  position: relative;
  top: 15px;
  left: 20px;
  width: 520px;
}
.logo_img {
	display: none;
}
.logo-en {
    background: url("../images/logo-en.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 124px;
    position: relative;
    top: 15px;
    width: 520px;
}
.ranepa, .institute, .fond {
    float: left;
    position: relative;
    top: 60px;
}
.ranepa {
    margin-left: 35px;
}
.fond {
    margin-left: 25px;
    top: 49px;
}
.institute {
    margin-left: 40px;
}
.fond {
    margin-left: 20px;
}
.ranepa-en, .institute-en, .fond-en {
    float: left;
    position: relative;
    top: 60px;
}
.ranepa-en {
    margin-left: 45px;
}
.fond-en {
    margin-left: 20px;
    top: 50px;
}
.institute-en {
    margin-left: 40px;
}
.fond-en {
    margin-left: 25px;
}
.years-select {
    padding: 10px;
}
.twitt {
    background: url("../images/tw.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    float: right;
    height: 14px;
    position: relative;
    right: 6px;
    top: -44px;
    width: 18px;
}
.lang {
    position: relative;
    right: 6px;
    top: -45px;
}
.ru, .en {
    border: 1px solid #D2D2D2;
    display: block;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
.ru {
    background: url("../images/ru.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 14px;
    margin-left: 2.4em;
    margin-right: 1em;
    width: 23px;
}
.en {
    background: url("../images/en.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 14px;
    width: 21px;
}
.extented-block-small {
    background-color: #F7F7F7;
    border-bottom: 0.1em solid #E5E5E5;
    border-left: 0.1em solid #E5E5E5;
    border-top: 0.1em solid #E5E5E5;
    display: none;
    float: left;
    height: 34px;
    margin-top: 9px;
    width: 980px;
}
.years-select a {
    font-size: 20px;
    margin-left: 45px;
    text-decoration: none;
}
.year {
    border-right: 1px solid #CCCCCC;
    float: left;
    font-size: 20px;
    margin: 8px 10px 10px 20px;
    padding-right: 20px;
}
.year:first-child {
    margin-left: 28px;
}
.year:last-child {
    border: 0 none;
}
.year a {
    text-decoration: none;
}
.count-block {
    height: 32px;
}
.year, .years-select a {
    color: #787878;
}
.count-title {
    border-left: 1px solid #C2C2C2;
    color: #BEBEBE;
    float: left;
    font-size: 19px;
    margin: 7px 0;
    padding-left: 15px;
}
.signup-button {
    background: none repeat scroll 0 0 #AD1D2B;
    border-bottom: 1px solid #AD1D2B;
    border-top: 1px solid #AD1D2B;
    color: #FFFFFF;
    float: right;
    font-size: 26px;
    height: 31px;
    margin-right: 2px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: -1px;
    width: 232px;
}
.signup-button span {
    font-size: 28px;
}
.signup-button:hover {
    color: #FFFFFF;
}
.signup-button-en {
    background: url("../images/signupbutton-en.jpg") repeat scroll 0 0 #AD1D2B;
    border-bottom: 1px solid #AD1D2B;
    border-top: 1px solid #AD1D2B;
    float: right;
    height: 34px;
    margin-right: 2px;
    position: relative;
    top: -1px;
    width: 232px;
}
.search-form {
    display: none;
    float: right;
    left: -20px;
    position: relative;
    top: -47px;
}
#seach_id {
    border: 1px solid #E5E5E5;
    color: #999999;
    font-size: 12px;
    padding: 2px;
    width: 120px;
}
.searchbutton {
    background: url("/images/search-icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    cursor: pointer;
    width: 16px;
}
.top-navbar {
    margin: 0 auto;
    padding: 10px;
    width: 980px;
}
.menu-icons, .main-menu, .left-wrapper {
    margin-top: 8px;
}
.menu-icons {
    clear: left;
    float: left;
    width: 128px;
}
.menu-icons div {
    margin-bottom: 15px;
}
.main-menu {
    float: left;
    font-size: 19px;
    list-style-type: none;
    margin-left: 0.2em;
    overflow: hidden;
    padding-left: 25px;
}
.main-menu li {
    height: 25px;
    margin-bottom: 15px;
}
.main-menu li:first-child {
    margin-top: 2px;
}
.main-menu li:last-child {
    margin-bottom: 8px;
}
.main-menu li a {
    color: #6F7073;
    text-decoration: none;
}
.main-menu li a:hover {
    color: #CD2027;
}
.main-menu li.active-menu a {
    color: #CD2027;
}
.about-icon {
    background: url("../images/icons-sprite.png") no-repeat scroll -1px 5px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.news-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -32px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.program-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -70px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.organizers-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -106px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.experts-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -145px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.partners-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -182px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.press-icons {
    background: url("../images/icons-sprite.png") repeat scroll 0 -220px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.smi-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -257px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.venue-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -296px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.contacts-icon {
    background: url("../images/icons-sprite.png") repeat scroll 0 -332px rgba(0, 0, 0, 0);
    height: 25px;
    margin: 0 auto;
    width: 25px;
}
.about-icon.icon-active {
    background: url("../images/icons-sprite.png") no-repeat scroll -26px 5px rgba(0, 0, 0, 0);
}
.news-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -32px rgba(0, 0, 0, 0);
}
.program-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -70px rgba(0, 0, 0, 0);
}
.organizers-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -106px rgba(0, 0, 0, 0);
}
.experts-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -145px rgba(0, 0, 0, 0);
}
.partners-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -182px rgba(0, 0, 0, 0);
}
.press-icons.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -26px -220px rgba(0, 0, 0, 0);
}
.smi-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -257px rgba(0, 0, 0, 0);
}
.venue-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -296px rgba(0, 0, 0, 0);
}
.contacts-icon.icon-active {
    background: url("../images/icons-sprite.png") repeat scroll -25px -332px rgba(0, 0, 0, 0);
}
.lang {
    display: none;
    float: right;
}
.news-block {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #E5E5E5;
    margin: 0 0 20px;
    padding: 0 11px;
}
.news-block-title {
    height: 32px;
}
.archive-block {
    float: right;
    margin-right: 5px;
    margin-top: 7px;
}
.rss-block {
    float: left;
    margin-left: 5px;
    margin-top: 7px;
}
.rss {
    background: url("../images/rss-icon.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 20px;
    width: 19px;
}
.archive-block h1, .rss-block h1 {
    color: #7D7C7D;
    font-size: 16px;
}
.archive-block h1 {
    float: left;
    margin: 0 10px;
}
.rss-block h1 {
    float: left;
    margin: 2px 10px;
}
.archive {
    background: url("../images/archive-icon.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    height: 17px;
    width: 17px;
}
.extended-block-large {
    float: left;
    margin-top: 10px;
    width: 340px;
}
.content {
    margin-top: 10px;
}
.countdown_section {
    color: #BEBEBE;
    display: block;
    float: left;
    font-size: 19px;
    margin-left: 45px;
    margin-top: 5px;
    text-transform: uppercase;
}
.countdown_amount {
    color: #969696;
    display: block;
    float: left;
    font-size: 25px;
}
.countdown_letters {
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
.back_button {
    background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 14px;
    overflow: hidden;
    padding: 2px 5px;
    text-decoration: none;
}
.back_button:hover {
    background: none repeat scroll 0 0 #AE1D2C;
    color: #FFFFFF;
}
.jcarousel-container.jcarousel-container-horizontal {
    margin-left: 30px;
    position: relative;
    width: 260px;
}
.jcarousel-clip.jcarousel-clip-horizontal {
    overflow: hidden;
    width: 260px;
}
.jcarousel-prev.jcarousel-prev-horizontal {
    background: url("../images/prev.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 17px;
    left: -14px;
    position: absolute;
    top: 27px;
    width: 7px;
}
.jcarousel-next.jcarousel-next-horizontal {
    background: url("../images/next.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: -5px;
    top: 27px;
    width: 7px;
}
.jcarousel-list-horizontal li {
    margin-right: 10px;
}
.content-block #expertsList li {
    float: left;
    height: 150px;
    overflow: hidden;
    width: 290px;
}
.experts-block-position {
    font-size: 11px;
    overflow: hidden;
    width: 140px;
}
.experts-block-name {
    font-weight: bold;
    overflow: hidden;
}
.experts-block {
    overflow: hidden;
}
.content-block {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none !important;
    color: #000000;
    float: none !important;
    line-height: 1.3;
    padding: 12px;
    position: relative;
    top: 0;
	width: 100%;
}
.content-block h1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.content-inner {
    float: left;
    margin-top: 8px;
	
}
.content-inner .content-block {
    color: #444444;
    min-height: 900px;
}
.content-block p {
    margin: 10px 0;
    text-align: justify;
}
.leftside {
    display: none;
    float: left;
}
.news-list-box {
    margin-bottom: 20px;
}
.content-block .news-list-box h1, .content-inner .content-block .news-list-box h1 {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}
.date-list-news {
    border-bottom: 1px solid #666666;
    padding-bottom: 5px;
}
.news-list-box p {
    margin-bottom: 5px;
}
.more-list {
    text-align: right;
}
.menu-content a {
    font-family: jura;
    font-size: 21px;
    text-decoration: none;
}
.menu-content-en a {
    font-size: 22px;
    text-decoration: none;
}
.menu-content {
    border-bottom: 0 none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
    padding-bottom: 0;
}
.menu-content-en {
    border-bottom: 0 none;
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 5px;
    overflow: hidden;
    padding-bottom: 0;
	-webkit-padding-start: 0px;
}

.menu-content li {
    float: left;
    margin: 0 26px 0 0;
}
.menu-content li:last-child, .menu-content-en li:last-child {
    margin: 0;
}
.menu-content-en li {
    float: left;
    font-family: jura;
    margin: 0 25px 0 0;
	display: none;
}
.content-block .news-separator {
    border-bottom: 1px solid #CCCCCC;
    color: #AA1E2B;
    font-family: jura;
    font-weight: normal;
    margin-top: -5px;
    padding-bottom: 2px;
}

.day-name {
    background-color: #AE1D2C;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-family: jura;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0 5px;
    position: relative;
    top: 0;
	float: none !important;
	-webkit-print-color-adjust:exact;
}
.text-wrapper {
	
  border-bottom: 1px solid #CCCCCC;
  color: #333333;
  float: left;
  margin: 7px 5px 5px;
  overflow: hidden;
  padding-bottom: 20px;
  position: relative;
  vertical-align: middle;
  width: auto !important;


}

.bn_prog {

  display: none;
}
.time {
    background-color: #FFFFFF;
    display: table-cell;
    font-size: 14px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 110px;
}
.name {
    color: #AE1D2C;
    font-size: 19px;
    line-height: 0.8;
    margin: 10px 0;
    width: 445px;
}
.title {
    color: #ccc;
    margin-top: 2px;
}
.item-hidden {
    border: 0 none;
    display: block;
    padding: 20px;
	width: auto;
}
.item-hidden p {
    line-height: 1.5;
    margin: 0;
}
.program-item-wrapper {
    -moz-user-select: none;
    border: 1px solid #ccc;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
}
.program-item-block {
    margin-bottom: 20px;
}
.clear-margin {
    margin-bottom: 0;
}
.active-item {
    display: block;
}
.venue {
    margin-bottom: 2px;
}
.trigIcon {
    background: url("../images/trigIcon.png") no-repeat scroll right 2px rgba(0, 0, 0, 0);
    display: none !important;
    float: right;
    height: 12px;
    margin: 5px 10px 5px 5px;
    padding-right: 15px;
}
.trigIconActive {
    background: url("../images/trigIcon.png") no-repeat scroll right -10px rgba(0, 0, 0, 0);
    display: none;
    float: right;
    height: 12px;
    margin: 5px 10px 5px 5px;
    padding-right: 15px;
}
.print, .ics {
    background: url("/images/print.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: right;
    height: 20px;
    overflow: hidden;
    position: relative;
    text-indent: 100%;
    top: -30px;
    white-space: nowrap;
    width: 20px;
}
.ics {
    background: url("/images/ics.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-right: 10px;
}
.ics.goo {
    background: url("/images/google1.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.news-block-mini .news-box {
    width: auto;
}
.news-block-mini .news-box:first-child {
    margin-right: 0;
    width: auto;
}
.news-block-mini .news-box:last-child {
    float: right;
    margin-right: 0;
    width: auto;
}
.news-box {
    border-top: 1px solid #424143;
    float: left;
    padding: 5px 10px 20px;
}
.news-box p {
    color: #5E5D5F;
    height: 60px;
    line-height: 1.2;
    margin-top: 5px;
    overflow: hidden;
}
.news-box {
    width: 285px;
}
.news-box:first-child {
    margin-right: 12px;
    width: 287px;
}
.news-box:last-child {
    float: right;
    margin-right: 0;
    width: 300px;
}
.date-news {
    color: #424143;
    float: left;
    margin-right: 10px;
    text-align: center;
    width: 40px;
}
.day {
    font-size: 36px;
}
.mounth {
    font-size: 9px;
}
.year-news {
    font-size: 17px;
}
.more {
    color: #AD1D2B;
    display: block;
    margin-left: 50px;
    margin-top: 5px;
}
.news-block-mini {
    width: 295px;
}
.partners-block {
    height: 172px;
    margin: 0 auto;
    width: 980px;
}
.partners-block h1 {
    border-bottom: 1px solid #333333;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin-top: 13px;
    padding-bottom: 5px;
}
.partners-block h2 {
    border-bottom: 1px solid #666666;
    color: #666666;
    font-size: 14px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.partners {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    width: 305px;
}
.main-partners {
    float: left;
    margin-top: 10px;
    width: 206px;
}
.main-partners > h2:first-child {
    margin-top: 0;
}
.main-partners > h2 {
    margin-top: 15px;
}
.info-partners {
    float: right;
    margin-top: 10px;
    width: 434px;
}
.info-partners img {
    margin-right: 10px;
    margin-top: 10px;
}
.info-partners img {
    margin-bottom: 15px;
    margin-right: 5px;
    margin-top: 10px;
}
footer {
    color: #FFFFFF;
    height: 85px;
    margin: 0 auto;
    width: 980px;
}
.copyright {
    padding: 10px 0;
    text-align: center;
}
.developer-info {
    float: right;
    font-size: 11px;
    margin-top: 16px;
}
.copyright-info {
    float: left;
    font-size: 11px;
    margin-top: 15px;
}
.clearfix {
    clear: both;
}
.imgL {
    margin: 5px 5px 0 0;
}
.imgR {
    margin: 5px 0 0 5px;
}
.row {
    clear: both;
    margin: 0 0 15px 10px;
}
.row label {
    display: inline-block;
    float: left;
    overflow: hidden;
    padding: 5px;
    width: 195px;
}
.row input {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 2px;
}
.row input[type="text"] {
    padding-left: 5px;
    width: 180px;
}
.row input[type="password"] {
    padding-left: 5px;
    width: 180px;
}
.row input.wide[type="text"] {
    width: 350px;
}
.row input[type="checkbox"]:first-child {
    margin-left: 5px;
}
.row input[type="checkbox"] {
    margin: 10px 5px 10px 25px;
}
.row input[type="submit"] {
    background-color: #AD1D2B;
    border: 1px solid #AD1D2B;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 15px;
    padding: 3px 5px;
}
.row input[type="submit"]:hover {
    background: linear-gradient(to bottom, #AD1D2B 0%, #D11919 51%, #AD1D2B 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.row .lbl, .row .lbl-en {
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 1px solid #AE1D2B;
    border-right: 1px solid #AE1D2B;
    border-top: 1px solid #AE1D2B;
    width: auto;
}
.row .lbl-en {
    width: 170px;
}
.row .chkgrnd {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #AE1D2B;
    clear: both;
    width: 512px;
}
.error-box {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #FF0000;
    padding: 5px;
}
.error-label {
    color: #FF0000;
    font-size: 16px;
}
.error-description {
    font-size: 14px;
}
.error-select-item {
    color: #FF0000;
    font-weight: bold;
}
.content-block #expertsList {
    list-style-type: none;
    margin: 0;
}
.content-block #expertsList li {
    margin: 7px 10px;
}
.listNav {
    margin: 0 0 10px;
}
.ln-letters {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E5E5E5;
    font-family: jura;
    font-size: 14px;
    overflow: hidden;
}
.ln-letters a {
    display: block;
    float: left;
    padding: 5px 10px;
    text-decoration: none;
}
.ln-letters a:hover, .ln-letters a.ln-selected {
    background-color: #AE1D2C;
    color: #FFFFFF;
}
.ln-letters a.ln-disabled {
    display: none;
}
.ln-letters a.all {
    text-transform: uppercase;
}
.form .row {
    display: table;
}
.form .row label {
    display: table-cell;
}
.form .row > img {
    margin: 0 10px 0 0;
    vertical-align: middle;
}
.form .row > input {
    vertical-align: middle;
}
.form-i {
    display: table;
    margin: 10px;
}
.form-i label {
    display: table-cell;
    overflow: hidden;
    vertical-align: middle;
    width: 245px;
}
.form-i > input[type="text"] {
    width: 230px;
}
.form input[type="submit"] {
    background: none repeat scroll 0 0 #AD1D2B;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    margin: 30px 10px 20px;
    padding: 5px;
}
.form-i > input[type="file"] {
    display: block;
}
.enterForm > div {
    margin: 5px 0;
}
.enterForm label {
    display: inline-block;
    width: 60px;
}

.enterForm > input[type="submit"] {
    background-color: #AD1D2B;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
}

.actionButton {
    background: none repeat scroll 0 0 #AD1D2B;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    margin: 30px 5px 10px 0;
    padding: 5px;
    text-decoration: none;
}

.actionButton:hover {
    color: #FFFFFF;
}

.menu-content li {
    display: none;
}

.active {
    display: block;
}

.menu-content li.active {

  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  text-align: center;
}

.menu-content-en li.active {

  border: 1px solid #ccc;
  display: block;
  padding: 5px;
  text-align: center;
}

.ex_info {
    display: none;
}

#b > div {
	display: none;
}

